<a href="https://colab.research.google.com/github/Akshaya24K/stock/blob/main/MoMoIndia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df1 = pd.read_csv('Momoindia.csv', delimiter='\t', header=0)
df1 = df1.rename(columns={'Trading Symbol': 'Ticker'})
print(df1)

       #                       Name      Ticker Price to Earnings  \
0      1                      TRENT       TRENT            161.58
1      2                  WOCKHARDT  WOCKPHARMA                 -
2      3                  INOX WIND    INOXWIND            488.23
3      4                  OIL INDIA         OIL             16.69
4      5                 BAJAJ AUTO  BAJAJ-AUTO             39.84
..   ...                        ...         ...               ...
295  296             AMBUJA CEMENTS   AMBUJACEM             34.81
296  297  KRISHNA INST OF MED SCI L        KIMS             59.54
297  298           LARSEN & TOUBRO.          LT             31.92
298  299         BALMER LAWRIE & CO  BALMLAWRIE             23.65
299  300  PARAS DEF AND SPCE TECH L       PARAS            126.61

     1 Yr Return  1 Yr Sharpe Return  Beta  1 Yr Volatility  Away from ATH  \
0         245.98                6.82  0.82            36.05          -2.53
1         338.48                6.07  1.19            55.79         -46.48
2         340.50                5.79  1.49            58.85          -6.79
3         264.70                5.73  1.33            46.16         -11.15
4         133.19                5.52  0.54            24.15          -1.71
..           ...                 ...   ...              ...            ...
295        42.46                1.25  1.71            33.89         -11.29
296        28.86                1.25  0.39            23.11          -1.41
297        33.58                1.25  1.40            26.78          -6.86
298        64.70                1.24  1.83            52.30         -13.65
299        63.48                1.24  1.29            51.30         -20.81

      MA 200  Last Close                               View
0    4328.32     7139.90                        View, TRENT
1     596.65     1069.90                    View, WOCKHARDT
2     139.61      220.91                    View, INOX WIND
3     407.35      682.25                    View, OIL INDIA
4    8443.42    10963.70                   View, BAJAJ AUTO
..       ...         ...                                ...
295   592.02      627.10               View, AMBUJA CEMENTS
296  2068.08     2616.65    View, KRISHNA INST OF MED SCI L
297  3524.81     3650.80             View, LARSEN & TOUBRO.
298   250.18      276.70           View, BALMER LAWRIE & CO
299   906.21     1261.20  View, PARAS DEF AND SPCE TECH L

[300 rows x 12 columns]

In [4]:
df2 = pd.read_csv('TICKER_SECTOR_INDUSTRY_NSE.csv', delimiter='\t',header=0)
print(df2)

         Ticker                     Description               Sector  \
0          LTIM                 LTIMINDTREE LTD  Commercial Services
1        GLOBAL            GLOBAL EDUCATION LTD  Commercial Services
2       VERANDA        VERANDA LEARNING SOL LTD  Commercial Services
3      AGRITECH               AGRI-TECH (INDIA)  Commercial Services
4         RITES                       RITES LTD  Commercial Services
...         ...                             ...                  ...
3741       RCCL  RAJASTHAN CYLINDERS & CONTAINE            Utilities
3742  WAAREERTL   WAAREE RENEWABLE TECHNOLOGIES            Utilities
3743      JAYCH         JAYSHREE CHEMICALS LTD.            Utilities
3744      RELTD         RAVINDRA ENERGY LIMITED            Utilities
3745  MADHAVIPL   MADHAV INFRA PROJECTS LIMITED            Utilities

                               Industry Exchange
0     Miscellaneous Commercial Services      NSE
1     Miscellaneous Commercial Services      NSE
2     Miscellaneous Commercial Services      NSE
3     Miscellaneous Commercial Services      NSE
4     Miscellaneous Commercial Services      NSE
...                                 ...      ...
3741                   Gas Distributors      BSE
3742       Alternative Power Generation      BSE
3743       Alternative Power Generation      BSE
3744       Alternative Power Generation      BSE
3745                 Electric Utilities      BSE

[3746 rows x 5 columns]

In [5]:
merged_df = pd.merge(df1, df2[['Ticker', 'Sector', 'Industry']], on='Ticker', how='left')
print(merged_df)

       #                       Name      Ticker Price to Earnings  \
0      1                      TRENT       TRENT            161.58
1      2                  WOCKHARDT  WOCKPHARMA                 -
2      3                  INOX WIND    INOXWIND            488.23
3      4                  OIL INDIA         OIL             16.69
4      5                 BAJAJ AUTO  BAJAJ-AUTO             39.84
..   ...                        ...         ...               ...
295  296             AMBUJA CEMENTS   AMBUJACEM             34.81
296  297  KRISHNA INST OF MED SCI L        KIMS             59.54
297  298           LARSEN & TOUBRO.          LT             31.92
298  299         BALMER LAWRIE & CO  BALMLAWRIE             23.65
299  300  PARAS DEF AND SPCE TECH L       PARAS            126.61

     1 Yr Return  1 Yr Sharpe Return  Beta  1 Yr Volatility  Away from ATH  \
0         245.98                6.82  0.82            36.05          -2.53
1         338.48                6.07  1.19            55.79         -46.48
2         340.50                5.79  1.49            58.85          -6.79
3         264.70                5.73  1.33            46.16         -11.15
4         133.19                5.52  0.54            24.15          -1.71
..           ...                 ...   ...              ...            ...
295        42.46                1.25  1.71            33.89         -11.29
296        28.86                1.25  0.39            23.11          -1.41
297        33.58                1.25  1.40            26.78          -6.86
298        64.70                1.24  1.83            52.30         -13.65
299        63.48                1.24  1.29            51.30         -20.81

      MA 200  Last Close                               View  \
0    4328.32     7139.90                        View, TRENT
1     596.65     1069.90                    View, WOCKHARDT
2     139.61      220.91                    View, INOX WIND
3     407.35      682.25                    View, OIL INDIA
4    8443.42    10963.70                   View, BAJAJ AUTO
..       ...         ...                                ...
295   592.02      627.10               View, AMBUJA CEMENTS
296  2068.08     2616.65    View, KRISHNA INST OF MED SCI L
297  3524.81     3650.80             View, LARSEN & TOUBRO.
298   250.18      276.70           View, BALMER LAWRIE & CO
299   906.21     1261.20  View, PARAS DEF AND SPCE TECH L

                     Sector                     Industry
0              Retail Trade      Apparel/Footwear Retail
1         Health Technology       Pharmaceuticals: Major
2    Producer Manufacturing          Electrical Products
3           Energy Minerals       Oil Refining/Marketing
4                       NaN                          NaN
..                      ...                          ...
295     Non-Energy Minerals       Construction Materials
296         Health Services  Hospital/Nursing Management
297     Industrial Services   Engineering & Construction
298  Producer Manufacturing     Industrial Conglomerates
299   Electronic Technology          Aerospace & Defense

[300 rows x 14 columns]

Write the output to an excel file

In [7]:
writer = pd.ExcelWriter('output.xlsx')
merged_df.to_excel(writer, index=False)
writer.close()

In [11]:


# ... (Your existing code to create merged_df)

# Group the merged dataframe by 'Sector' and 'Industry' and count tickers
ticker_counts = merged_df.groupby(['Sector', 'Industry'])['Ticker'].count()

# Print the ticker counts
print(ticker_counts)

Sector               Industry
Commercial Services  Miscellaneous Commercial Services     4
                     Personnel Services                    1
Communications       Major Telecommunications              1
                     Wireless Telecommunications           1
Consumer Durables    Automotive Aftermarket                1
                                                          ..
Transportation       Marine Shipping                       2
                     Other Transportation                  1
Utilities            Alternative Power Generation          2
                     Electric Utilities                   11
                     Gas Distributors                      5
Name: Ticker, Length: 71, dtype: int64

In [12]:

# ... (Your existing code to create merged_df)

# Group the merged dataframe by 'Sector' and 'Industry' and count tickers
ticker_counts = merged_df.groupby(['Sector', 'Industry'])['Ticker'].count()

# Sort the ticker counts by Sector in descending order
ticker_counts_sorted = ticker_counts.sort_index(level='Sector', ascending=False)

# Print the sorted ticker counts
print(ticker_counts_sorted)

Sector               Industry
Utilities            Gas Distributors                      5
                     Electric Utilities                   11
                     Alternative Power Generation          2
Transportation       Other Transportation                  1
                     Marine Shipping                       2
                                                          ..
Consumer Durables    Automotive Aftermarket                1
Communications       Wireless Telecommunications           1
                     Major Telecommunications              1
Commercial Services  Personnel Services                    1
                     Miscellaneous Commercial Services     4
Name: Ticker, Length: 71, dtype: int64

In [13]:
with pd.option_context('display.max_rows', None):
    print(ticker_counts_sorted)

Sector                  Industry
Utilities               Gas Distributors                       5
                        Electric Utilities                    11
                        Alternative Power Generation           2
Transportation          Other Transportation                   1
                        Marine Shipping                        2
                        Airlines                               1
Technology Services     Packaged Software                      7
                        Internet Software/Services             3
                        Information Technology Services        7
Retail Trade            Specialty Stores                       3
                        Internet Retail                        1
                        Catalog/Specialty Distribution         1
                        Apparel/Footwear Retail                2
Producer Manufacturing  Trucks/Construction/Farm Machinery     2
                        Metal Fabrication                      3
                        Industrial Machinery                   6
                        Industrial Conglomerates               2
                        Electrical Products                   12
                        Building Products                      1
                        Auto Parts: OEM                       11
Process Industries      Textiles                               3
                        Industrial Specialties                 6
                        Containers/Packaging                   2
                        Chemicals: Specialty                   7
                        Chemicals: Agricultural                4
                        Agricultural Commodities/Milling       5
Non-Energy Minerals     Steel                                  5
                        Other Metals/Minerals                  3
                        Construction Materials                 4
                        Aluminum                               2
Industrial Services     Engineering & Construction            13
Health Technology       Pharmaceuticals: Other                 4
                        Pharmaceuticals: Major                26
                        Medical Specialties                    1
Health Services         Medical/Nursing Services               3
                        Hospital/Nursing Management            4
Finance                 Specialty Insurance                    2
                        Regional Banks                         7
                        Real Estate Development               11
                        Multi-Line Insurance                   1
                        Life/Health Insurance                  3
                        Investment Managers                    5
                        Investment Banks/Brokers               8
                        Financial Conglomerates                2
                        Finance/Rental/Leasing                11
Energy Minerals         Oil Refining/Marketing                 8
                        Integrated Oil                         1
                        Coal                                   1
Electronic Technology   Telecommunications Equipment           2
                        Electronic Production Equipment        3
                        Electronic Equipment/Instruments       2
                        Aerospace & Defense                    3
Distribution Services   Wholesale Distributors                 2
Consumer Services       Movies/Entertainment                   1
                        Hotels/Resorts/Cruise lines            2
Consumer Non-Durables   Tobacco                                1
                        Household/Personal Care                5
                        Food: Specialty/Candy                  5
                        Food: Meat/Fish/Dairy                  2
                        Food: Major Diversified                2
                        Beverages: Non-Alcoholic               1
                        Beverages: Alcoholic                   1
                        Apparel/Footwear                       1
Consumer Durables       Motor Vehicles                         4
                        Homebuilding                           2
                        Electronics/Appliances                 2
                        Automotive Aftermarket                 1
Communications          Wireless Telecommunications            1
                        Major Telecommunications               1
Commercial Services     Personnel Services                     1
                        Miscellaneous Commercial Services      4
Name: Ticker, dtype: int64